<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b234058-a15c-4701-9ed4-ddf01c9e6770" Alias="Background Color Dropdown" Level="1">
  <Info>
    <Name>Background Color Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "red",
    "green",
    "blue",
    "cyan",
    "magenta",
    "yellow",
    "black",
    "white"
  ]
}]]></Config>
</DataType>