<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63cfdddf-26ec-4b16-832b-c28bc6c7cde0" Alias="Foreground Color Picker" Level="1">
  <Info>
    <Name>Foreground Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>