<?xml version="1.0" encoding="utf-8"?>
<DataType Key="038ff5d9-673a-435f-b7e8-8b1167cc7979" Alias="Headline Level Dropdown" Level="1">
  <Info>
    <Name>Headline Level Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h2",
    "h3",
    "h4",
    "h5"
  ]
}]]></Config>
</DataType>