<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbe714da-93f5-4b14-8854-fb1453a2ec3b" Alias="My Block Grid" Level="2">
  <Info>
    <Name>My Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0af9da35-6641-4746-9e4e-31d1724ca6d6",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "Headline",
      "settingsElementTypeKey": "66d09122-9dde-43df-991b-a317d6c9ea1c"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>