<?xml version="1.0" encoding="utf-8"?>
<Content Key="a47fd2c0-9fa8-44fa-be2e-5ab8f5830a45" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>basePage</ContentType>
    <CreateDate>2025-01-25T12:12:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7526ef88-8c70-4098-a97f-009dbb037906">basePage</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0af9da35-6641-4746-9e4e-31d1724ca6d6",
      "key": "f73874f4-5888-413c-ad30-3833c8f8150d",
      "udi": null,
      "values": [
        {
          "alias": "headlineText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sub heading"
        },
        {
          "alias": "headlineLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "h2"
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "66d09122-9dde-43df-991b-a317d6c9ea1c",
      "key": "72232937-920f-453e-a31a-b382cf7731b2",
      "udi": null,
      "values": [
        {
          "alias": "foregroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#0011ff"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "white"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f73874f4-5888-413c-ad30-3833c8f8150d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f73874f4-5888-413c-ad30-3833c8f8150d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "72232937-920f-453e-a31a-b382cf7731b2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridContent>
    <pageTitle>
      <Value><![CDATA[Block Grid Preview Test]]></Value>
    </pageTitle>
  </Properties>
</Content>